@import '../variables';
.book-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: $padding-medium;
    th,
    td {
        padding: $padding-small;
        border: 1px solid $border-color;
        text-align: left;
    }
    th {
        background-color: $primary-color;
        color: #fff;
    }
    button {
        padding: 5px 10px;
        margin-right: 5px;
        color: #fff;
        background-color: $secondary-color;
        border: none;
        border-radius: $border-radius-small;
        cursor: pointer;
        &:hover {
            background-color: darken($secondary-color, 10%);
        }
        &:last-child {
            background-color: $danger-color;
            &:hover {
                background-color: darken($danger-color, 10%);
            }
        }
    }
}