@import '../variables';
.header {
    background-color: $primary-color;
    color: #fff;
    padding: $padding-medium;
    text-align: center;
    border-radius: $border-radius-medium;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    h1 {
        margin: 0;
        font-family: $font-family;
    }
}