@import '../variables';
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        padding: $padding-small $padding-medium;
        color: #fff;
        background-color: $primary-color;
        border: none;
        border-radius: $border-radius-small;
        cursor: pointer;
        &:hover {
            background-color: darken($primary-color, 10%);
        }
        &:disabled {
            background-color: #bdc3c7;
            cursor: not-allowed;
        }
    }
    span {
        font-size: 16px;
    }
}