// Color Variables
$primary-color: #e67e22;
$secondary-color: #228433;
$background-color: #cad6da;
$text-color: #2c3e50;
$border-color: #bfc9ca;
$danger-color: #c0392b;
// Font Variables
$font-family: 'Roboto',
sans-serif;
// Padding and Margin Variables
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;
// Border Radius Variables
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 15px;