/* :root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    max-width: 600px;
    display: flex;
    place-items: center;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    max-width: 600px;
    min-height: 100vh;
    float: center;
} */